.gallery-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5em;
    width: 100%;
    margin: 3em 0;
    margin-bottom: 4em;
}
.gallery-container .image-container {
    position: relative;
    height: 300px;
    cursor: pointer;
}
.gallery-container .image-container .img-desc {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--tertiary-color);
    top: 0;
    bottom: 0;
    opacity: 0;
}
.gallery-container > .image-container:hover > .img-desc {
    opacity: 1;
    transition: opacity .5s ease-in-out;
}
.gallery-container .image-container img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
#add-image-button {
    position: fixed;
    bottom: 70px;
    right: 20px;
    border: none;
    box-shadow: 1px 1px 5px var(--primary-color);
    padding: .5em;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    border-radius: 10px;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
}